[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
motor = "*"
python-i18n = "*"
aiohttp = "*"
beanie = "==1.11.9"
aiogram = "*"
aioredis = "*"
pyyaml = "*"
mergedeep = "*"

[dev-packages]

[requires]
python_version = "3.10"
